[Unit]
Description=Jupyter notebook server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/jupyter notebook --ip=0.0.0.0 --NotebookApp.token='' 
WorkingDirectory=/home/pi/Notebooks

[Install]
WantedBy=multi-user.target
