[Desktop Entry]
Name=Jupyter Browser
Comment=Made by OHIO
Icon=/usr/share/pixmaps/openbox.xpm
Exec=/usr/bin/chromium-browser http://127.0.0.1:8888
Type=Application
Encoding=UTF-8
Terminal=false

